<?xml version="1.0" encoding="utf-8"?>
<packages>
  <!--
  This must match the import tags for the props and targets file as well as the NuGet file check
  in the VCXPROJ file. (Sadly VCXPROJ only uses packages.config, and that does not support version
  minimum ranges, it has to be exact... [Yet another reason to ditch VCXPROJ in favor of CMAKE
  and custom scripts.]
  -->
  <package id="Ubiquity.NET.Versioning.Build.Tasks" version="5.0.5-alpha" targetFramework="native" />
</packages>
